body {
  background-color: #cfdfe8;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.title p:first-child {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.title p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.title span {
  text-decoration: underline;
}


.title-text {
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
}

.my_photo {
  height: 105px;
  width: 60;
}


.labs {
  border-radius: 5px;
  display: flex;
  padding: 5px;
  justify-content: space-around;
  flex-basis: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 15px 0;
  margin-bottom: 10px;
}

a:active,
a:focus,
a:hover {
  color: black;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: black;
}

.lab {
  border: black 1px solid;
  border-radius: 5px;
  padding: 0 20px;
}


.labs-content {
  display: flex;
}


.list {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  /*padding: 15px 15px;*/
  max-width: 250px;
  max-height: 300px;
  width: 100%;
  margin-right: 15px;
}

.list-item {
  border: black 1px solid;
  border-radius: 15px;
  flex: 2 1 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 5px;

}

.list-item:not(:last-child) {
  margin-bottom: 15px;
}


.list-content {
  border: black 1px solid;
  border-radius: 10px;
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 10px 15px 0 15px;
  height: 950px;
}


table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
  border-radius: 5px;
}

td:first-child {
  text-align: center;
}

.list-content h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
}

.list-content h3:first-child {
  margin-bottom: 10px;
}

.git {
  text-decoration: underline;
}

.child{
  margin-left: 50px;
}

.lab4img{
  height: 400px;
  width: 900px;
}

.lab8img{
  width: 60%;
  height: auto;
}